 /*==============================ROOT=======================*/

:root {

--orange:  yellow  ;
--dark-gray: #424242;
--header:  sans-serif;
--white:white;
--paragraph: 'Edu NSW ACT Foundation',cursive;
}

/*==============================ROOT=======================*/


/*================== The Header start=====================*/
header {
    padding: 0 1em;
    grid-template-columns: auto auto;
    background-color:green;
    grid-template-rows: 130px;
    align-items: center;
    display: grid;
    height: 125px;
    border-radius: 5px 5px 0px 0px ;
}

h1 {
    color: white;
    margin: 1rem 0 1rem 1rem;
    text-align: center;
    justify-self: start;
    text-shadow: -1px -1px 2px var(--dark-gray);
}
nav {
    width: 425px;
    display: grid;
    text-align: center;
    justify-self: end;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 0;
    padding: 0;
}
nav ul li:nth-child(1) {
    display: none;
}
nav a {
    text-decoration: none;
    transition: padding 0.3s;
    margin-top: 1em;
    padding: 1em;
}
nav a span {
    padding: 0;
    width: 50px;
    color: white;
    transition: padding 0.3s;
}
nav a.at span {
    font-weight: bold;
    border-bottom: solid 3px var(--orange);
}
nav a:hover {
    background-color: rgba(255,255,255,0.1);
    padding: 1em calc(1em - 8px);
}
nav a:hover span {
    color: white;
    padding: 0 8px;
    border-bottom: solid 3px var(--orange);
}
img {
    max-width: 100%;
}

.logo{
height: 120px;
      width: 120px;
}

#year{
    text-align: center;
    color: white;
}
/*===================The Header End=====================*/
 /*=======================The body start====================*/   

html {
    background-color: var(--gray);
    background-attachment: fixed;
}
body {
    max-width: 900px;
    margin: 0 auto;
    overflow-x: hidden;
    box-shadow: 2px 2px  var(--dark-gray);
    
    border-radius: 15px 15px 15px 15px ;
    background-color: #8d8787;
    border: solid 1px green;
}

  


/*=======================The body end====================*/


/*=======================The main start====================*/
    main {
        background-color: white;
    }
    * {
        color: var(--gray);
        font-family: var(--paragraph);
    }

/* Iput this link here for the background image */

    body{
        background-image: url("https://unsplash.com/photos/zcUgjyqEwe8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink");
     }


   


 
    a:hover {
        padding: 0;
    }
    a:hover span {
        color:yellow;
        padding: 0 0.5rem;
    }
    ::selection {
        background-color: var(--orange);
        color: black;
    }
    .grid {
        display: grid;
    }
    main > .grid {
        grid-template-columns: 70px auto;
        width: 80%;
    }
    main > .grid > *:not(.social-links) {
        grid-column: 2;
    }

    h1, h2, h3, h4 {
        color: var(--dark-gray);
        font-family: var(--header);
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.2em;
    }
 

/*==================The main end==========================*/


/*================== The Footer start=====================*/
footer {
    background-color:green;
    grid-template-columns: auto 10px 10px;
    padding: 2rem .5;
    align-items: center;
    display: grid;
    border-radius: 4px 4px 12px 12px ;
    margin-bottom: .1%;
   
}

.footer-logo{
    max-width:5%;
    max-height:6% ;
}
footer div ,span {
    color: white;
    text-align: center;
  
}
footer a {
    text-align: center;
    text-decoration: none;
    padding: 0 0.5rem;
}


footer a img {
    width:50px; 
    height:50px; 
    margin-top: 2%;
  }
  footer p {
    margin: 0.5em;
     
  }
  footer a {
    text-decoration: none;
    color: rgb(209, 206, 206);
    margin: 0.4em;
  } 



/*========+++++++==========*/
 
  footer p:nth-of-type(1) {
      padding-top: 1em;
      text-align: left;
      grid-column: 2 / 2;
    }
    footer p:nth-of-type(2) {
      grid-column: 4 / 4;
    }
   


/*========================= Start Geoplace========================-*/
    
section.contact-info {
  grid-column: 1/1;
  position: relative;
  left: 0rem;
  width: 87%;
  padding: 1rem;
  display: grid;
  background-color:whitesmoke;
  grid-template-columns: 40% auto;
  box-shadow: 5px 5px 5px black;
  border-radius: 1px  10px 100px;
}
section.contact-info iframe {
  grid-row: span 3;
  grid-column: 1;
  height: 200px;
  width: 80%;
  border: 0;
}
section.contact-info h3, section.contact-info ul {
  margin-top: 0;
  text-align: left;
  color: black;
  font-family:'Edu NSW ACT Foundation',cursive;
}
section.contact-info ul {
  margin-bottom: 0;
}
section.contact-info li {
  padding-top: 1px;
}
/*========================= End Geoplace========================-*/
 .logofot{
      height: 70px;
      width: 70px;
     
      align-items: center;
      margin-left: 4em;
      grid-column: 3/5;
      margin-left: 5em;
  }
  
  footer h4.slogan{
      color: white;
      grid-row: 2;
      grid-column: 1/6;
      text-align: center;
font-family:'Edu NSW ACT Foundation',cursive;
  }
  
  footer p.address{
    color: white;
    grid-row: 3;
    grid-column: 1/5;
    text-align: center; 
   font-family:'Edu NSW ACT Foundation',cursive;
}


.email{
  color: white;
  grid-row: 3;
  grid-column: 1/3;
  text-align: center; 
  font-family:'Edu NSW ACT Foundation',cursive;
}

  footer h4.website{
      color: white;
      grid-row: 4;
      grid-column: 1/6;
      text-align: center;
  font-family:'Edu NSW ACT Foundation',cursive;  
  }
  
#lastMod{
  padding-top: 1px;
  display: block;
  font-size:small;
  color: var(white);
  text-align: center;
}
/*===================End Footer====================*/

/*==================The social start===============*/
/* just to give more style to social icon and make them look so cool */
    .social-links {
        top: 0;
        position: sticky;
        grid-row: 1 / span 4;
        height: calc(12px * 5);
        padding: 20px 0 50px;
    }
    .social-links > a {
        display: grid;
        box-shadow: 2px 2px 4px var(--dark-gray);
        grid-template-columns: 36px calc(140px - 36px);
        grid-gap: 20px;
        align-items: center;
        justify-items: start;
        width: 30px;
        height: 32px;
        overflow: hidden;
        background-color: var(--dark-gray);
        transition: none;
        text-decoration: none;
    }
    .social-links > a img {
        width: 36px;
    }
    .social-links > a:hover {
        width: 140px;
    }
    .social-links > .facebook:hover {
        background-color: #4267B2;
        border-radius: 12px 12px 4px 4px  ;
   
    }
    .social-links > .youtube:hover {
        background-color: #FF0000;
        border-radius: 4px 4px 12px 12px ;
   
    }
/*=================The social end=================*/ 
     
.hero div {
    text-align: center;
    margin-left: 20px;
    padding: 0.5rem 0.5rem 1.5rem;
    max-width: 170px;
    background-color: var(--gray);
    border: solid 1px white;
}
section > section.grid {
    grid-template-columns: 150px auto;
}

picture img {
  
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 4px #2f2f2f;
  border-radius: 15px 15px 15px 15px;
  margin-left: 1.9%;
   
}
picture img.in {
  animation: img-come-in 2s;
}

 h4{
  text-align: center;
 }

@keyframes img-come-in {
  from {
      transform: scale(0.9);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}
/*=================Temperature place styling start =========================*/
.well {
	background-color: green;
	border-radius:1px;
	padding:20px;
	box-shadow:0 2px 5px  yellow;
  border-radius: 10px 10px 15px 15px;	
}
.bottom {
	padding-right:150px;
	text-align:left;
	background-color:green;
	font-size:16px;
  font-family: 'Edu NSW ACT Foundation',cursive;
}
.empty {
	width:90%;
	height:20px;
	background-color: green;
 
}
.info {
	background-color: green;
	font-size:25px;
  font-family: 'Edu NSW ACT Foundation',cursive; 
}
.temp {
	background-color: green;
	font-size:30px;
  font-family: 'Edu NSW ACT Foundation',cursive;
}
#icon {
	background-color: green;
	width:40px;
	height:50px;
	float:center;
}
#unit {
	color:rgb(216, 170, 18);
	font-weight:bold;
}
#temp {
	padding-left:1px;
}
    
/*=================Temperature place styling End=========================*/

 




  
/*=================button place styling start =========================*/

.flesh2 {
    background-color:   orange; 
    color: white;
    text-decoration: none;
    font-family:'Edu NSW ACT Foundation',cursive;
    font-size: 19px;
    padding: 15px 15px;
    padding-bottom: 15px;
    padding-top: 9px;
   
    transition: 0.2s;
    border-radius: 5px;
    position: absolute;
    margin-left: 5%;
   margin-top: 0%;
   margin-bottom: 1%;
   color: rgb(5, 5, 145);
  }

  .flesh2:hover {
    background-color: green;
    transition: 0.2s;
    color: black;
    
    padding: 15px 15px;
    }


div button-box2{
    border-radius: 5px;   
    padding: 35px 35px;

    background-color: green;
    cursor: pointer;
    border:#8d8787;
    transition: 0.2s;
    position: absolute;
    
    }

    .psi{
        font-family:'Edu NSW ACT Foundation',cursive; 
        text-align: right; 
        background-color: orange;
        padding: 10px 10px  ;
        border-radius: 10px 14px 200px 10px ;
    }
    
.flesh{
    background-color:   orange; 
    color: white;
    text-decoration: none;
    font-family:'Edu NSW ACT Foundation',cursive;
    padding: 15px 15px;
    transition: 0.2s;
    border-radius: 5px;
   position: absolute;
   color: rgb(5, 5, 145);
   transition: 0.2s;
  }
  
  
  .flesh:hover {
    background-color: green;
    color: black;
    padding: 15px 15px;
   
  }
  
div button-box{
    padding: 35px 35px;
    background-color: green;
    border: #8d8787;
    margin-top: 10%;
    font-size: 18px;
   
    }
  
/*=================Temperature place styling end =========================*/



/*=================Start lastB=========================*/

.lastb{
  background-color: green;
  border-radius: 15px 15px ;
  border: solid 1px green;
  padding: 15px 24px   ;
  align-items: center;
  color:white;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 42%;
  position: relative;
 
}

.small-drink{
  margin-top: 5%;
  position: absolute;
  
  margin-right: 10%;
}

/*================= End last B=========================*/
 

.date{
    
    text-align: center;
   
   font-size:large ;
   margin-bottom: 0%;
   background-color: green;
  border: solid .7px white;
  
  font-family:'Edu NSW ACT Foundation',cursive;

  
}


/*----------- FORM--------------*/

form fieldset {
    margin:.5rem .0;
    border:1px solid #3f4044;    
    border-radius: 7px;
    padding:.5rem 1%;
    margin-right: 2%;
    margin-left: 1%;
    border-radius: 15px 15px 15px 15px;
  }
  form legend {
    color: green;
    margin:0 1rem;
    padding: 0rem;
  } 
  
  form label.top,form div{
    display: block;
    padding-top: 0rem;
    color:black;
    font-size:.8rem;
   
  font-family:'Edu NSW ACT Foundation',cursive;

  }
  
  form label input, form label select{
    -webkit-appearence: none;
    display: block;
    font-size: 1rem;
    border:solid 1px #999;
    border-radius: 4px;
    padding:.75rem;
    color:black;
  
    max-width: 12rem;
    background-color: green;
    border-radius: 15px 15px 15px 15px;
  }
  
  form label .sbs{
    display:block;
    padding:.75rem 0;
    color:white;
  }
  
  form input.submitBtn{
    border:none;
    background-color:green;
    color:white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin:0 0 2rem 2%;
    width: 80%;
    max-width: 15rem;
    border-radius: 15px 15px 15px 15px;
  }
  
  form label.top input:required{
    border-left:red solid 6px;
     
  }
  
  form label input:required:valid{
  border-left: rgb(91, 147, 252) solid 10px;
  border-radius: 15px 15px 15px 15px; 
  }
  
 /*=========== Start text area=================*/ 
textarea { 
height: 90px;
margin: 0;
border: 2; 
padding:.2rem 5%;
border:2px solid #3f4044;    
border-radius: 4px;
color:black;
border-radius: 15px 15px 15px 15px;
}
  
 /*=========== End text area=================*/  
  .re{
    color:black;
    font-family:'Edu NSW ACT Foundation',cursive;
  }
  
  footer {
    
    padding: .7rem 2%;
    text-align: center;
  }
  
  .poi{
    width: 20px;
    height: 70px;
    align-items: center;
  }

  .submitBtn{
    
    cursor: pointer;
    border-radius: 15px 15px 15px 15px; 
  }


  .submitBtn{
  
    cursor: pointer;
     
  }
  
  
  .submitBtn:hover{
    transition: 0.2s;
    background-color: rgb(105, 105, 124);
  }
  









form fieldset label{
    display: block;
    margin: 1rem;
    
  }


  .input-box:focus{
    animation: border-color ease-in-out;
    border: 6px solid white;
    outline: none;
    transition: .1s;
    box-shadow: 0 0 15px 1px black;
    border-radius: 15px 15px 15px 15px;
  }
  



.banner-flesh{
margin-top: 50%;
  }

.sma{
  text-align:center;
  font-family:'Edu NSW ACT Foundation',cursive;
  
  grid-row: 2/2;
}


  .about-ussms{
    text-align:center;
    font-family:'Edu NSW ACT Foundation',cursive;
  }


.insi1{
  float: left;
  border-radius: 20px 5px 20px 5px ;
  margin-right: 0;
  margin-left: 0;
}
 


/*------------------------Start Top button styling-----------------*/
#topbutton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius:100px 100px 12px 12px;
  font-family:'Edu NSW ACT Foundation',cursive;
 
}

#topbutton:hover {
  background-color: #555;
  color:orange;
}



/*-----------------------End Top button styling-----------------*/




select
{
	width:230px;
	height:40px;
 
	border:orange 5px solid;
	border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
	text-align:left;
	padding-left:2px;
	font-size:18px;
	background-color:green;
	color:black;
	font-weight:bold;
	text-decoration:none;
  

}



#datea{
  
	border:#333 1px solid;
  grid-column: 1/6;
  grid-row: 1; 
  text-align: center;
  background-color: green;
  font-family:'Edu NSW ACT Foundation',cursive;
color: white;
  font-size:x-large ;
  text-shadow: 0 0 15px green; 
  border-radius: 15px 15px 15px 15px;
}













/*===========Start Total number of specialty drinks styling=================*/


#sc_element{
  color: red;  
}

.sc{
 grid-column: 3/5;
 background-color:green;
 text-align: center;
 margin-left: 15%;
 margin-right: 15%;
 margin-bottom: 0%;

 border-radius: 20px 5px 20px 5px ;
}

div.brief{
font-family:'Edu NSW ACT Foundation',cursive;
font-size:large;
margin-top: 4%;

content: center;
background-color: green;
max-width: 50%;
height: 100%;
align-content: center;
margin-left: 1em;
border-radius: 15px;
display: block;
 
text-align: center;
 
border-radius: 10px 5px 20px 5px ;
}





.sc  picture img {
 height: 150px;
 width: 100px;
 object-fit: cover;
 object-position: center;

 grid-column: 1/2;
 grid-row: 1/1;
 margin: 10px;

}

.sco picture img:hover{
 border-radius: 10px ;
}

picture img.in {
 animation: img-come-in .0s;
}

@keyframes img-come-in {
 from {
     transform: scale(1);
     opacity: 0;
 }
 to {
     transform: scale(1);
     opacity: 1;
 }
}


/*===========End Total number of specialty drinks styling=================*/



/*===========Sart view  styling=================*/



.mini{
  text-align: center;
  background-color:green ;
  width: 40%;
  align-content: center;
  margin-left: 20em;
  border-radius: 15px;
  color: orange;
  font-family:'Edu NSW ACT Foundation',cursive;
}

/*===========End view  styling=================*/



div.formh form{
  background-color: green;
  color: white;
  margin: 1em  5vw;
  padding: 2rem;
 grid-column: 1/2;
   
  font-family:'Edu NSW ACT Foundation',cursive;
  width: 90%;
 

}



.presentation{
  font-family:'Edu NSW ACT Foundation',cursive;
  color: white;
  font-size: large;
}




div.sika form{
  background-color: orange;
  color: black;
  margin: 1em  5vw;
  padding: 2rem;
 grid-column: 1/1;
   
  font-family:'Edu NSW ACT Foundation',cursive;
  width: 74%;
  border-radius: 20px 5px 20px 5px ;

}
  








































































