body{
    background-color: #307ebe;
    position: relative;
}

.container{
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
    border: 2px solid navy;
    border-radius: 18px;


}

.container h1{
    text-shadow: 10px 10px 10px navy;
    font-family: 'Edu NSW ACT Foundation',cursive;
    letter-spacing: .2rem;
}
.container p,figcaption{
    font-family: 'Edu NSW ACT Foundation',cursive;
    font-size: large;
}

.container .condition{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
