body{
    background-color: white;
}

table{
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid black;
    box-shadow: 1px 2px 20px navy;
    border-collapse: collapse;
    font-family: 'Edu NSW ACT Foundation',cursive;
    font-size: 1.3rem;
    width: 20%;
}

caption{
    padding: 10px;
    caption-side: bottom;
    font-size: 1.1rem;
    color: navy;
}

tr:first-child th, .important{
    background-color: navy;
    color: white;
}

th, td{
    padding: .5rem;
    border: 1px solid black;
}

th{
    background-color: #397296;
}

td{
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 229, 229);
}
