 
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 0.9em;
}
 
h1,
h2 {
  font-family: 'Edu NSW ACT Foundation',cursive;
}


html{
  color: white;
}
a,
p,
nav {
  font-family: 'Edu NSW ACT Foundation',cursive;
  text-decoration: none;
}
 
header {
  background-color: navy;
  display: grid;
}
#msg {
  background-image: linear-gradient(
    90deg,#dce1ec,#e0e3eb,
    #cdd1da,#dde2ec,#e6e8ee,
    #e1e5f1,
  );
  grid-column: 1/3;
  text-align: center;
  padding: 0.5em;
}
.show {
  display: inline;
}
.hide {
  display: none;
}
.limited {
  grid-column: 1/3;
  display: grid;
}
header img {
  width: 100%;
  height: auto;
  
}
header #pic {
  width: 10em;
  grid-row: 1/3;
  padding: 0.5em;
  padding-top: 1em;
  grid-row: 1/3;
}
#social {
  grid-column: 4/5;
  grid-row: 1/3;
  display: flex;
  flex-wrap: wrap;
  width:3.5em;
  padding-top: 0.6em;
}
#facebook, #linkedin {
  margin-right: 1em;
  width:100px;
  height:40px;
}
header h1 {
  text-align: left;
  font-size: 1.5em;
  grid-column:2/4;
  grid-row: 1/2;
  margin: auto;
  margin-top: 1em;
  color: #fff;
}
.date {
  border: 1px solid white;
  text-align: center; 
  grid-column: 1/3;
  grid-row: 4/5;
  padding: 2% 0;
  color: white;
} 
nav {
  grid-column: 1/3;
  grid-row: 5/6;
  padding: 2%;
  background-color: black;
}
nav ul li {
  padding: 0.5em;
}
nav ul li a {
  color: white;
  padding: 0.5em 5em;
}
nav li:hover {
  background-color: black;
  color: white;
}
nav ul li.active {
  background-color:black;
}
nav ul.open,
#btn span:nth-child(1),
#btn.open span:nth-child(2) {
  display: block;
}
#btn span:nth-child(2),
#btn.open span:nth-child(1),
nav ul {
  display: none;
}
nav ul {
  background-color: navy;
  font-size: 1.2em;
  text-align: center;
  margin: auto;
  list-style-type: none;
} 
main {
  margin: 9%;
}
#normalContent section:nth-child(3),
#normalContent section:nth-child(4),
#normalContent section:nth-child(5),
#spot1,
#spot2,
#spot3 {
  padding: 2em;
  text-align: center;
}
main section {
  background-color: navy;

  margin-bottom: 2%;
  display: grid;
}
#normalContent section:nth-child(2) {
  position: relative;
}
#heroP {background-image: linear-gradient(
    90deg,
    #050502,
    #050502,
    #050502,
    #050502,
    #050502,
  );
  color: rgb(8, 0, 0);
  font-size: 2em;
  position: absolute;
width: 100%;
 
text-align: center;
 
}
#heroMCC{
  background-color: var(--btnBground);
  color: rgba(165, 47, 47, 0.9);
  border-radius: 10px;
  border: 3.5px solid var(--btnColor);
  position: absolute;
  padding: 0.5em;
  margin: 1em 1% 0;
}
section img {
  width: 100%;
  height:100%;
} 
#weather {
  display: grid;
}
#weather .mainImg {
  width: 8em;
  min-width: 70px;
  max-width: 150px;
  padding-top: 1em;
  margin: auto;
}
#weather p {
  font-size: 3em;
  grid-column: 2 / 3;
  margin: auto;
  padding: 0.6em;
}
section h2 {
  color: white;
  font-weight: 600;
  margin-bottom: 3%;
}
#currentWeather {
  margin: 1em;
  font-size: 1.3em;
}
#spot1 p:nth-of-type(1),
#spot2 p:nth-of-type(1),
#spot3 p:nth-of-type(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2% 0;
  margin: 2% 0;
  color: white;
}
#spot1 .mainImg,
#spot2 .mainImg,
#spot3 .mainImg {
  width: 15em;
  margin: auto;
   
}
.mainImg img {
  width: 70%;
}
#source {
  margin: 2%;
} 
#join,
#spot3,
#hero2 {
  display: none;
 
} 
footer {
  background-color: navy;
}
.max {  
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;

  margin-top: 2em;
}
footer a img {
  width:100px; 
  height:62px; 
  margin-top: 2%;
}
footer p {
  margin: 0.5em;
}
footer a {
  text-decoration: none;
  color: white;
  margin: 0.4em;
} 
#heading {
  text-align: center;
}
#visit {
  font-size: 1.3em;
  text-align: center;
}
#joinImg {
  display: none;
}
.btns {
  display: flex;
  justify-content: center;
}
.grid section:nth-of-type(9) img {
  width: 100%;
}
 
.lst section {
  margin: 0;
  padding: 2%;
  text-align: left;
   
}
.lst section:nth-child(even) {
  background-color: #ecddc1;
}
.lst h2 {
  color: white;
  font-family: 'Edu NSW ACT Foundation',cursive;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}
.lst img {
  display: none;
}
