 
 
:root {
    --main-color: navy;
    --secondary-color: lightblue;
    --accent-color: rgb(61, 158, 190);
    --default-light: #ffffff;
    --default-dark: navy;

    --header-font:'Edu NSW ACT Foundation',cursive;
    --paragraph-font:'Edu NSW ACT Foundation',cursive;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	 font-size: large;
	font-family:'Edu NSW ACT Foundation',cursive;;
	color: navy;
}

.date,
aside {
	margin: 0.2rem;
	padding: 0.75rem;
     
	background-color: white;
}
 
  
  .facebook {
    grid-column: 1/4;
    grid-row: 1/2;
    padding-right: 5%;
    width:4%;
  }
  
  .linkedin {
    grid-column: 1/6;
    grid-row: 1 / 3;
    width: 10%;
  }

  .logohome{
    width:180px;
    height: 80px;
    
}
.footerlogo{
 width:10%;
 padding-right:1% ;
}
 
html { background-color: var(--secondary-color);}
body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 87% auto;
}
body > * {
    grid-column: 2;
}
.shadow-blocker-1, .shadow-blocker-2 {
    background-color: var(--secondary-color);
    position: relative;
    z-index: 24;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1/span 4;
}
.shadow-blocker-2 {
    grid-column: 3;
}

 
h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1em;
}
h4 {
    font-size: 1.1em;
}
h1, h2, h3, h4, th {
    font-family: var(--header-font);
}
p, span, div, li, td, a {
    font-family: var(--paragraph-font);
}

 
header {
    z-index: 10;
    padding: 1rem;
    position: relative;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}
header >span {
    display: block;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}
h1 {
    color: var(--default-light);
    margin-bottom: 0.75rem;
}
nav {
    position: sticky;
    top: 0;
}
nav > ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6,1fr);
    box-shadow: 0 0 10px var(--default-dark);
}
nav > ul .toggler {
    display: none;
}
nav > ul .toggler + li {
    grid-column: 1;
}
nav a {
    z-index: 8;
    padding: 1em 0;
    display: block;
    margin-right: 0;
    overflow: hidden;
    width: calc(100%);
    font-weight: bold;
    text-align: center;
    position: relative;
    text-decoration: none;
    height: calc(100% - 2em);
    color: var(--default-light);
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
    transition: padding 0.2s, height 0.2s;
    height: 18px;
}
nav a.at, nav a:active {
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    z-index: 9;
}
nav a:hover {
    background-color: var(--default-light);
    box-shadow: 0 0 10px var(--default-light), inset 0 0 10px var(--main-color);
    color: var(--main-color);
    z-index: 7;
}
 
main {
    padding: 1px 1em;
    background-color: var(--default-light);
}
h2 {
    color: var(--main-color);
}
h3, h4 {
    color: var(--default-dark);
}
section {
    padding: 0 1em;
}

 
footer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,auto);
    box-shadow: 0 0 10px var(--default-dark);
    background-color: var(--main-color);
    font-family: var(--paragraph-font);
    color: var(--default-light);
    text-align: center;
    position: relative;
    padding: 1rem;
    z-index: 10;

}
footer a {
    color: var(--default-light);
    text-decoration: underline var(--secondary-color);
}
footer a:hover {
    text-shadow: 1px 1px 10px var(--secondary-color);
}
.last-updated {
    padding-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: var(--secondary-color);
}
 
 
.footer-logo{
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    text-align: right;
    margin-right: 1rem;
    padding: 1rem;
}

footer img{
    height: 3rem;
}


.name{
    grid-column: 2/2;
    grid-row: 1/1;
    align-self: center;
    padding: 1rem;
    
     
     
}


.info-section{
    grid-column: 4/4;
    grid-row: 1;
    padding: 1rem;
} 
footer a{
    text-decoration: none;
    color: rgb(171, 80, 224);
    font-family: 'Edu NSW ACT Foundation',cursive;
    
}


.base-footer{
    grid-column: 1/6;
    grid-row: 2;
    text-align: center;
    
    padding: .5rem;
}





.container {  
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 5px;
    grid-auto-flow: row;
    margin: .5rem;
    height: 50rem;
  }
  
  .Hero { 
    grid-area: 1 / 2 / 3 / 3;
    background-color: #86d4f3;
}
  
  .Event { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: #86d4f3;
}
  
  .Spotlight-1 { 
    grid-area: 1 / 3 / 2 / 4; 
    background-color: #86d4f3;
}
  
  .Spotlight-2 { 
    grid-area: 2 / 3 / 3 / 4; 
    background-color: #86d4f3;
}
  
  .Spotlight-3 { 
    grid-area: 3 / 3 / 4 / 4; 
    background-color: #86d4f3;
}
  
  .News-release { 
    grid-area: 3 / 2 / 4 / 3; 
    background-color: #86d4f3;
}
  
  .Weather { 
    grid-area: 2 / 1 / 3 / 2; 
    background-color: #86d4f3;
}
  
  .Join { 
    grid-area: 3 / 1 / 4 / 2; 
    background-color: #86d4f3;
}
  



footer{
    background-color: navy;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5,5fr);
    grid-template-rows: repeat(2,auto);
}


header.social-media{
   
    width: 30%;
   
    position: absolute ;
    padding :0%;
    height: 10px;
    

}

.icon-facebook{
    padding-right: 0%;
    border-radius:10px 10px 10px 10px;

}

.linkedin-icon{
    padding-right: 0%;
    height: 20%;
    border-radius: 10px 10px 10px 10px;
}
header img{

    grid-column: 2/2;
    height: 2rem;
     
}
.marifa{
    color: #fff;
}








.logo {
	display: flex;
	align-items: left;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}


.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

/* Larger viewports */
@media only screen and (min-width: 32.5em) {
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
}

